body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#img_logo{
    width: 5%;
    padding: 10px 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}
nav {
    display: flex;
    background-color: black;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
main {
    margin-top: 20px;
}
.contenedor-general{
    margin: 20px 200px;
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 92%;
    padding: 14px 16px;
    margin: 20px 0px;
}
button {
    padding: 10px 20px;
    background-color: #612E52;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #451F37;
}