/* Obteniendo la familia de IM Fell English Regular */
@font-face {
    font-family: 'IM Fell English Regular';
    src: url('/assets/fonts/IMFellEnglish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Obteniendo la familia de IM Fell English Italic */
@font-face {
    font-family: 'IM Fell English Italic';
    src: url('/assets/fonts/IMFellEnglish-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

header{
    font-family: 'IM Fell English Regular';
    text-align: center;
    font-size: 50px;
    padding: 50px;
    background-color: black;
    color: white;
}

p{
    padding: 10px;
    font-family: 'IM Fell English Italic';
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

main{
    flex: 1;
}

.contenedor-general{
    text-align: center;
    margin: auto 30%;
    background-color: white;
}

.bienvenida{
    padding: 30px 0px;
}

.textarea-informacion{
    resize: none;
    padding: 10px;
    font-family: 'IM Fell English Regular';
}

form{
    padding: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
  
  